<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agregar Articulo</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-dark">

<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">&nbsp <small> </small></h1> <!-- ESPACIO VACIO -->

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">Agrege el nuevo Articulo</h2>
                    <p class="card-text">
                    <form action="/crear/${articulo.getId()}" method="post">
                        <div class="form-group">
                            <label for="Titulo">Titulo</label>
                            <input class="form-username form-control" style="width:500px" type="text" name="Titu" id="Titulo" aria-describedby="nameHelp"><br>
                        </div>

                        <div class="form-group">
                            <label for="Cuerpo">Cuerpo</label>
                            <input class="form-username form-control" style="width:500px;height:250px" type="text" name="Cuer" id="Cuerpo" aria-describedby="nameHelp"><br>
                        </div>

                        <!-- todo Aqui falta las etiquetas -->

                        <button class="btn btn-success" type="submit" >Guardar</button>
                    </form>
                    </p>

                </div>
            </div>

        </div>

    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>